<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{.Title}}</title>
	</head>
	<body>
		{{range .Items}}<div>{{ . }}</div>{{else}}<div><strong>no rows</strong></div>{{end}}
	</body>

        <script>
            while(true) {
                console.log("Hi Mom!");
                sleep.ms(1000);
            }
        </script>
</html>`
